In [39]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
cust_seg=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\cust_seg.csv")

In [5]:
cust_seg.head(3)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3

###### card usage has been improved significantly from the last year usage which is 50.

In [14]:
stats.ttest_1samp(a= cust_seg.Post_usage_1month,              
                 popmean= 50)

Ttest_1sampResult(statistic=4.140324966963024, pvalue=5.120919460716355e-05)

In [16]:
cust_seg.Post_usage_1month.mean()

52.775

###### the last campaign was successful in terms usage of credit card.

In [17]:
stats.ttest_rel(a=cust_seg.pre_usage,
                b=cust_seg.post_usage_2ndmonth)

Ttest_relResult(statistic=-8.866832246938742, pvalue=4.295733828012836e-16)

###### is there any difference between males and females in terms of credit card usage.

In [24]:
Males_spend = cust_seg.Post_usage_1month[cust_seg.sex==0]
FeMales_spend = cust_seg.Post_usage_1month[cust_seg.sex==1]

In [27]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=False)

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

###### is there any difference between segments of customers in terms of card usage?

In [30]:
cust_seg[cust_seg.segment.duplicated()==False]

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
4,172,0,4,2,1,2,47,52,68.4,57.2

In [31]:
s1 = cust_seg.Latest_mon_usage[cust_seg.segment==1]
s2 = cust_seg.Latest_mon_usage[cust_seg.segment==2]
s3 = cust_seg.Latest_mon_usage[cust_seg.segment==3]

stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.36401083352674e-12)

###### is there any relation between region and segments?

In [35]:
t=pd.crosstab(cust_seg.segment, cust_seg.region, margins = True)
t

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [37]:
stats.chi2_contingency(observed= t)

(16.60444164948934,
 0.055282939487992365,
 9L,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

###### is the relationship between card usage in the lastest month and pre usage of campaign?

In [44]:
print stats.stats.pearsonr(cust_seg.Latest_mon_usage, cust_seg.Post_usage_1month)

(0.6174492644854919, 2.0866647416871388e-22)